[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
flask-httpauth = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
python-telegram-bot = "*"
requests = "*"
pytest = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
